.page-wrapper {
  padding: 20px 0;
  background: #a18cd1;
}

.page-wrapper .wrapper {
  width: 804px;
  margin: 0 auto;
  border-radius: 10px;
  background: #000;
}

.page-wrapper h2 {
  color: #000;
  margin-bottom: 10px;
  text-align: center;
}

.page-wrapper .img-wrapper {
  background: url(./bg-form.jpg) top center/cover no-repeat;
  border-radius: 10px 0 0 10px;
}

@media only screen and (max-width: 768px) {
  .page-wrapper .wrapper {
    width: 100%;
  }
  
  .page-wrapper .img-wrapper {
    height: 300px;
    background-position: center;
  }
}

.page-wrapper .form-wrapper {
  padding: 30px 55px;
  padding-bottom: 65px;
}

.page-wrapper .form-wrapper .input-grp {
  margin-bottom: 33px;
  border-bottom: 1px solid rgba(255,255,255,.2);
}

.page-wrapper .form-wrapper .input-grp input {
  padding: 5px 0;
  font-size: 16px;
  color: #fff;
  background: 0 0;
  border: none;
}

.page-wrapper .form-wrapper .input-grp input:focus {
  outline: none;
}

.btn-submit {
  background: #7f294b;
  border-radius: 20px;
  margin-top: 20px;
}

.page-wrapper  .title {
  color:#fff;
  margin-bottom: 20px;
}

.btn-submit:hover {
  background: #57b846;
}

/* card */
.gallery-card {
  position: relative;
  margin: 0px 0px 10px;
  min-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  break-inside: avoid;
  grid-row-end: span 12;
}

.gallery-card  img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
  display: block;
  pointer-events: none;
  background: rgb(204, 204, 204);
  visibility: inherit;
  margin-bottom: 20px;
}

.errormsg {
  color: red;
}